* {
    /* box-sizing: border-box; */
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}


:root {
    /* --primary-color: #3498db;
    --secondary-color: #2ecc71; */
    --text-color: white;
    --secondary-text-color:#ac9e7d;
    /* --background-color: ; */
}
